<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/movies/details/<%= resultado.id %>/modificar" method="post">
        <label for="">Titulo</label> <br>
        <input type="text" value="<%= resultado.title %>" name="title"><br>
        <label for="">Rating</label> <br>
        <input type="text" name="rating" value="<%= resultado.rating %>"> <br>
        <label for="">Premios</label> <br>
        <input type="text" name="awards" value="<%= resultado.awards %>"> <br>
        <label for="">Duracion</label> <br>
        <input type="text" name="length" value="<%= resultado.length %>"> <br>
        <label for="">Fecha de estreno</label> <br>
        <input type="date" name="releaseDate" value="<%= resultado.releaseDate %>"> <br>

            <select name="genero"> 
                <% for( let i = 0; i < genero.length; i++ ) { %>
                    <% if (genero[i].id == resultado.genre_id) { %>
                        <option value="<%= genero[i].id %>" selected> <%= genero[i].name %>  </option> 
                    <% }else{ %>
                        <option value="<%= genero[i].id %>"> <%= genero[i].name %>  </option> 
                    <% } %>
                
                <% } %>
            </select>
        <button type="submit">Editar</button>
    </form>
</body>
</html>